*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.section{

}
.container{
  background-color: #c1f3f3;
}
.header{
  background-color:#87CEFA;
  line-height: 70px;
}
.link-list{ 
  width: 1200px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.link-item{
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
.link-list .active{
  font-size: 18px;
  font-weight: 500;
}
.aritcle-section{
  padding: 30px 0;
}
.aeitcle-container{
  background-color: #fff;
  width: 1200px;
  border-radius: 5px;
}
.article-list{
  width: 100%;
  padding: 20px;
}
.article-list-item{
  padding:10px 5px;
  border-bottom: 1px solid #333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #333;
}
.article-list-item span{
  margin-left: 0;
}
.article-list-item-title{
  margin-left: 0;
  text-align: left;
  width: 300px;
}
.article-list-item-time{
  margin-left: 0;
  width: 100px;
}
.pagination-link-list{
  text-align: right;
  padding-right: 20px;
}
.pagination-link-item{
  display: inline-block;
  margin-right: 5px;
  text-decoration: none;
}
.aeticle-section{
  padding: 10px;
}
.aeticle-title{
  display:block;
  text-align: center;
  font-size: 36px;
  color: #333;
  font-weight: 500;
  line-height: 70px;
  border-bottom: 1px solid #000;
}
.aeticle-content{
  padding-top: 30px;
  text-align: left;
  font-size: 18px;
  color: #333;
  line-height: 24px;
}
